{
  "openapi": "3.0.1",
  "info": {
    "title": "Travel Management service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.preview-dv.choreo.dev/travelmgt/v1"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Get booking by Id",
        "operationId": "getBookigById",
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "empName": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          }
        }
      },
      "BookingRequest": {
        "type": "object",
        "properties": {
          "empId": {
            "type": "integer"
          },
          "from": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https:///authorize",
            "scopes": {}
          }
        }
      }
    }
  },
  "x-wso2-disable-security": "false"
}
